{{ define "main" }}
{{ $cover := (.Page.Resources.GetMatch "cover.*") }}
{{ $tracks := (.Page.Resources.Match "**.{mp3,aac,ogg,flac,alac,ape,wav,aiff,wma,m4a,opus}") }}
<div class="container">
	{{ partial "breadcrumbs.html" . }}
	<article class="music release">
		<header>
			<h1>{{- with .Params.Artist -}}{{- . }} &mdash; {{ end -}}{{- .Title | strings.Title }} ({{ .Page.PublishDate.Format "2006" -}})</h1>
			{{ with $cover }}
			<img class="cover" src="{{- . -}}" alt="release cover">
			{{ end }}
		</header>
		<section>
			<ul class="no-bullets tracks">
				{{ range $tracks }}
				<li>
					<a href="{{- . -}}" target=_blank>{{- . -}}</a>
					<audio controls preload="none" src="{{- . -}}" ></audio>
				</li>
				{{ end }}
			</ul>
		</section>
		<section class="content">
			{{ .Content }}
		</section>
	</article>

	{{ $posts := where .Site.RegularPages "Section" "music" }}
	{{ $recent := (where $posts "Permalink" "!=" .Permalink) | first 2 }}
	{{ if $recent }}
	<aside class="separated" aria-label="Recent Releases">
		<h2>More Releases</h2>
		{{ partial "previews.html" (dict "Items" $recent "HeadingLevel" 3) }}
	</aside>
	{{ end }}
</div>
{{ end }} 
