{{ define "main" }}
{{ $cover := (.Page.Resources.GetMatch "cover.*") }}
<div class="container">
	{{ partial "breadcrumbs.html" . }}
	<article class="post">
		<header class="post-header{{- if $cover }} with-cover{{- end -}}"{{- with $cover}} style="background-image: url('{{- .RelPermalink -}}')"{{- end }}>
			<h1 class="shadowed unbordered centered">{{- .Title | strings.Title -}}</h1>
			<div class="post-summary-card">
				<div class="info">
					{{ with .Param "author.pictureURL" }}
					<img class="author-picture" alt="author picture" src="{{- . | safe.URL -}}">
					{{ end }}
					<div>
						<div class="author-name">
							Author:&nbsp;
							{{ $email := .Param "author.email" }}
							{{- with $email  -}}<a href="mailto:{{- . -}}">{{- end -}}
								{{- .Param "author.name" -}}
								{{- if $email -}}</a>{{- end -}}
						</div>
						{{ partial "facts.html" . }}
					</div>
				</div>
				{{ with .Page.Description }}
				<p>{{- . -}}</p>
				{{ end }}
				{{ with .Params.coverCredit }}
				{{ $u := urls.Parse . }}
				<div>
					Image credit: {{ if $u.Host  -}}<a href="{{- . -}}" rel="nofollow noreferrer" target="_blank">{{- $u.Host -}}</a>{{- else -}}{{- . -}}{{- end -}}
				</div>
				{{ end }}
			</div>
		</header>
		<div class="content">
			{{ if .Params.tocEnabled }}
			{{ with .TableOfContents }}
			<aside class="toc undecorated">
				{{ . }}
			</aside>
			{{ end }}
			{{ end }}
			{{ .Content }}
		</div>
	</article>

	{{ $posts := where .Site.RegularPages "Section" "posts" }}
	{{ $recent := (where $posts "Permalink" "!=" .Permalink) | first 4 }}
	{{ with $recent }}
	<aside class="separated" aria-label="Recent Posts">
		<h2>Other Posts</h2>
		{{ partial "previews.html" (dict "Items" $recent "HeadingLevel" 3) }}
	</aside>
	{{ end }}
</div>

{{ end }}
